extends layout/main.pug

append content
    h2.col-12.mt-5 Agregar Libro : #{productSizes[0].title}
    hr
    form(method="POST" action="/dashboard/product/save" enctype="multipart/form-data")
        .row.justify-content-center.mt-5
                input(type="hidden" value=productSizes[0].id name="id")
                table.table.col-10
                    h2.col-12.text-center Editar libro
                    thead
                        tr
                        th(scope='col') Portada 
                        th(scope='col') Titulo
                        th(scope='col') Descripcion
                    tbody
                        tr
                        td
                            label(for="img1", role="button")
                                - var img1 = "/public/images/products/"+productSizes[0].id+"-1.jpg"
                                img(src=img1).img-table.img-thumbnail
                            input(name="img" id="img1" type="file" accept="image/jpeg").d-none
                            input(type="checkbox" name="img1").ml-1
                        td
                            input(value=productSizes[0].title name="title")
                        td
                            textarea(value=productSizes[0].description name="description" rows="4").col-12=productSizes[0].description
        .row.justify-content-center.mt-5
                input(type="hidden" value=productSizes[0].id name="id")
                table.table.col-10
                    thead
                        tr
                        th(scope='col') Precio  
                        th(scope='col') Autor
                        th(scope='col') Numero de paginas
                    tbody
                        tr
                        td
                           input(value=productSizes[0].title name="Precio") 
                        td
                            input(value=productSizes[0].title name="Autor")
                        td
                            input(value=productSizes[0].title name="NumeroDePag")
        .row.justify-content-center.mt-5
                input(type="hidden" value=productSizes[0].id name="id")
                table.table.col-10
                    thead
                        tr
                        th(scope='col') Ingrese Editorial  
                        th(scope='col') Ingrese ISSN
                        th(scope='col') Fecha de publicacion
                    tbody
                        tr
                        td
                           input(value=productSizes[0].title name="Editorial") 
                        td
                            input(value=productSizes[0].title name="ISSN")
                        td
                            input(value=productSizes[0].title type="date" name="FechadePublic")
        .row.justify-content-center.mt-5
            table.table.col-1
                thead
                    tr
                    th(scope='col') Idioma 
                    th(scope='col') Genero literario
                tbody
                        td
                           input(value=productSizes[0].title name="Idioma") 
                        td
                           input(value=productSizes[0].title name="Genero") 
            input(type="submit").btn-lg.btn-primary.col-10.mt-2.mb-5
            script(src="/public/js/editProduct.js")